.side-bar{
    display: flex;
    flex-direction: column;
    width: 100px;
    position: fixed;
    left: 0;
    top: 70px;;
    bottom: 0;
    
}
.side-img{
    width:20px;
    margin-right: 10px;
    padding-left: 10px;
 
}
.side-icons{
    display: flex;
    height: 40px;
    width: 200px;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 2px;
   

}
.suggessions{
    display: flex;
    flex-direction: column;
    height: 80px;
}
.side-icons:hover{
    background-color: #eee;
    border-radius: 10px;
}